<!DOCTYPE html>
	<html>
		<head>
			<title>Tania Hasanpoor</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/assignment1">Assignment 1</a></li>
	        		<li><a href="/assignment2">Assignment 2</a></li>
	        		<li><a href="/assignment3">Assignment 3</a></li>
				<li><a href="/assignment4">Assignment 4</a></li>
	        		<li><a href="/assignment5">Assignment 5</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:taniahsp@bu.edu">email</a></li>
	        		<li><a href="https://github.com/taniahasanpoor">github.com/taniahasanpoor</a></li>
				</ul>
			</footer>
		</body>
	</html>
